/*current issues:1) company name vertical align to the middle 2) toggle on the same line as header */

*{
    box-sizing:border-box;
}

body {
    font-family: cursive;
    font-weight: bold;
}

.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link, .navbar-brand a:visited {
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: bolder;
}

h1 {
    color: #000;
}

/*Header: Left side */
.container-fluid{
    background-color: gray;
    border: 2px solid #000;
    position: relative;
}

/*Header: Toggle */
.navbar-toggle{
    border: 2px solid black;
    padding: 5px;
}

.navbar-default .navbar-toggle .icon-bar{
    width:40px;
    height:7px; /*control the weight of the line */
    border-radius: 5px;
}

.navbar-default .navbar-toggle{ /*update the outline of the toggle */
    border-color:#000;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    border-color:#dcdcdc;
    background-color: gray;
}

.navbar-default .navbar-toggle .icon-bar { /*update the bars of the toggle */
    background-color:black;
}

.navbar-default .navbar-toggle .icon-bar:hover, .navbar-default .navbar-toggle .icon-bar:focus {
    background-color: #dcdcdc;
}


#collapsable-nav{
    padding: 0px; /*use to remove the space at either side of the toggle menu */
}

#nav-list {
    text-align: center;
    background-color: #fff;
    padding: 0;
    margin:0;
}

li{
    border: 1px solid #000;
}

li span {
    color:#000;
}

/** MAIN CONTENT **/
.block {
    background-color: gray;
    margin:10px;
    padding-left: 10px;
    padding-right: 10px;
    height:500px;
}

/***desktop mockup ***/
@media (min-width:992px) and (max-width:1199px){

}

/***tablet mockup ***/
@media (min-width: 768px) and (max-width:991px) {
     
}

/***mobile mockup ***/
@media (max-width: 767px) {


}